<tr>
    <td height="200"  align="center">
<table width="1000" border="0" cellpadding="0" cellspacing="0" align="center" background="$siteDomain/images/index_149.jpg" style="background-repeat:no-repeat;">
  <!--DWLayoutTable-->
  <tr>
    <td width="1000" height="43" valign="top"><!--DWLayoutEmptyCell-->&nbsp;</td>
  </tr>
  <tr>
    <td height="135" align="center" valign="middle" id="foot_font"><a href="#">联系我们</a> | <a href="#">站点地图</a> | <a href="#">关于我们</a> | <a href="#">设为首页</a> | <a href="#">收藏本站</a><br />
福安市人民政府主办　　福安市人民政府办公室承办<br />
福安市经济信息中心、福安市人民政府公众信息网管理中心 建设管理<br />
2010版权所有 闽ICP备09011034号　 建议IE6 1024*768以上分辩率浏览本网站 <br />
当前访问次数：<font id=browse></font></td>
  </tr>
</table>
	</td>
  </tr>