/******************** 系统标签样式 ********************/
*{
	margin: 0;
	padding: 0;	
}

html{
	height:100%;
	width:100%;
	overflow:auto;/* IE6-7 下隐藏滚动条*/
	overflow-x: hidden;
}

body {
	height:100%;
	width:100%;
	font-size: 12px;
	color:#333;
	margin: 0;
	padding:0;
	font-family: Arial,宋体;
	background:#fff;
}
a{
	color:#333;
	text-decoration:none;
}

/******************** 页面留白 ********************/
.blank {
	height: 10px;
	line-height: 10px;
	clear: both;
	visibility: hidden;
}


/********************** 内容区域 **********************/
.content{
	margin-left:20px;
	margin-right:20px;
}

/********************** 内容项 **********************/
.contentItem{
	
}

/* 系统说明正文 */
.systemInfoText{
	margin-left:15px;
	margin-right:15px;
	line-height:20px;
}

/********************** 标题行 **********************/
.title{
	width:100%;
	height:31px;
	line-height:31px;
	background:#ddd url('images/systemIndex/titleBg.gif') repeat-x ;
	border:1px #e2e2e2 solid;
	font-weight:bold;
}

/* 按钮列表 按钮*/
.toolbarBox dd {
	float:left;
	height:29px;
	line-height:29px;
	width:83px;
	margin-left:5px;
	cursor:pointer;	
}

/* 按钮列表 按钮 图片*/
.title img{
	margin-left:8px;
	margin-right:5px;
	position:relative;
	top:6px;
}

/* 树容器 */
.treeContainer{	
}

/* 树容器子项 */
.treeContainer li{
	margin-right:10px;
	margin-top:10px;
	list-style:none;
	float:left;
	min-width:130px;
	width:18%;
	height:180px;
	border:1px #c9cfd6 solid;
	overflow:auto;
}


/* 树标题*/
.treeContainer dt{
	margin-top:5px;
	margin-left:5px;
	list-style:none;
	height:28px;
	font-weight:bold;
	line-height:28px;
	word-break:keep-all;/* 不换行 */
	white-space:nowrap;/* 不换行 */
	cursor:pointer;
}

.treeContainer dt img{
	margin-left:3px;
	margin-right:3px;
	position:relative;
	top:4px;
}


/* 树子项*/
.treeContainer dd{
	padding-left:20px;
	list-style:none;
	height:28px;
	line-height:28px;
	word-break:keep-all;/* 不换行 */
	white-space:nowrap;/* 不换行 */
	overflow:hidden;/* 内容超出宽度时隐藏超出部分的内容 */
	text-overflow:ellipsis;/* 当对象内文本溢出时显示省略标记(...)*/
	cursor:pointer;
}

.treeContainer dd:hover{
	color:#204b7b;
	background:#dbecff;
}

.treeContainer dd img{
	margin-left:3px;
	margin-right:3px;
	position:relative;
	top:4px;
}




/* 业务模块区 */
.businessModuleBtns{

	
}

/**************************** 按钮样式 ****************************/
.businessModuleBtn{
	width:120px;
	height:120px;
	float:left;	
	margin:5px;
	position:relative;
	cursor:pointer;
	
	
}
.businessModuleBtn{
	background:url('images/systemIndex/businessModuleBtn.gif') no-repeat;
}
.businessModuleBtn:hover{
	background:url('images/systemIndex/businessModuleBtnOver.gif') no-repeat;
}

.businessModuleBtn img{
	width:59px;
	height:60px;
	position:absolute;
	left:50%;
	margin-left:-30px;
	top:15px;	
}
.businessModuleBtn a{
	font-size:12px;
	width:100%;
	height:20px;
	line-height:20px;
	position:absolute;
	bottom:20px;
	text-align:center;
	color:#003366;
}