@charset "utf-8";

/****************************系统样式****************************/
html{
	width:100%;
	height:100%;
	overflow:hidden;
}
body {
	font: 100%/1.4 Verdana, Arial, Helvetica, sans-serif;
	margin: 0;
	padding: 0;
	color: #000;
	overflow:hidden;
	width:100%;
	height:100%;
	background:#eff5fb;
}

/****************************头部****************************/
.top{
	width:100%;
	height:50%;
	background:#5494d4;
}

.mid{
	background:#eff5fb url('images/Bj.png') repeat-x;
	width:100%;
	height:708px;
	position: absolute;
	top: 50%;
	margin-top: -354px;
}

/****************************页脚****************************/
.footer {
	color:#999;
	text-align: center;
	font-family: Arial;
	font-size:12px;
	height: 136px;
	width:100%;
	position: absolute;
	left: 0px;
	right:0px;
	bottom: 0;
}
.footer a{
	position:absolute;
	bottom:10px;
	width:100%;
	left:0px;
	right:0px;
	text-align:center;
}




/**************************** 登录区域 ****************************/
.login {
	background:url('images/loginImg.png') no-repeat;
	background-position:0px 0px;
	width: 1000px;
	height:708px;
	position: absolute;
	left: 50%;
	top: 50%;
	margin-left: -500px;
	margin-top: -354px;
}


/* 登录区域信息区 */
.login_info {
	position:absolute;
	top:239px;
	left:665px;
}

/* 信息区文字 */
.login_info_text {
	height:28px;
	line-height:28px;
	color: #444;
	font-size: 14px;
	margin-top:37px;	
	position:relative;
}

/* 信息区输入框背景 */
.login_info_input {
	height:37px;
	width:230px;	
	position:absolute;
	top:0px;
	left:70px;
}

/* 信息区输入框 */
.login_info_input  input{
	background:transparent;
	border: none;
	height: 30px;
	width: 220px;
	line-height: 30px;
	color: #505050;
	font-size: 12px;
}

/* 信息区错误信息 */
.login_info_error {
	color:#ff4200;
	font-size:12px;
	height:16px;
	position:absolute;
	width:250px;
	left:62px;
	top:150px;
}

/* 登录按钮 */
.login_button {	
	width:88px;
	height:34px;
	cursor:pointer;
	position:absolute;
	top:201px;
	left:130px;
	background: url('images/login_button.png') no-repeat;
	_background: url('images/login_button.gif') no-repeat;
}

.login_button:hover{
	background-position:-88px 0px;
}
/**** 对话框样式 ****/
.styleBox {
	font-size:12px;
	width:98%;
}
.styleMainBox {
	border:#36B0D6 1px dotted;
	text-align:center;
}
.styleMainBox ul {
	width:95%;
	margin:8px;
}
.styleMainBox ul li {
	width:194px;
	height:120px;
	float:left;
}
.styleMainBox ul li img {
	border:#9EC8E6 2px solid;
	cursor:pointer;
}