#parse("www.fjfa.gov.cn/vmlib/common.vm")
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=gb2312" />
<title>中国福安-${msg.title}</title>
<link href="../../css/main.css" rel="stylesheet" type="text/css" />
</head>
<script language="javascript" type="text/javascript"> 
function getCount(unid,type){
try{
var url="../../${tomcatroot}/${cmsWebapp}/views/views.jsp?type="+type+"&unid="+unid;
var xmlhttp;
if(window.ActiveXObject)
    {
        xmlhttp=new ActiveXObject("Microsoft.XMLHTTP");
    }
    else if(window.XMLHttpRequest)
    {
        xmlhttp=new XMLHttpRequest();
    }

		   xmlhttp.Open("get", url, false);
    	   xmlhttp.Send(null); 
		   var resultvalue=xmlhttp.responseText;
		   //ret=resultvalue; 
         document.all.browse.innerHTML=resultvalue;
}catch(e){
}
}
</script>
<SCRIPT language=javascript type=text/javascript>
	function doZoom(size){ 
	document.getElementById('Zoom').style.fontSize=size+'px' 
} 
</SCRIPT>
<body class="other_body_bg" onload="getCount('${msg.unid}','document')">

<table width="1000" bgcolor="#ffffff" border="0" cellspacing="0" cellpadding="0" align="center">
   #parse("www.fjfa.gov.cn/topAndButton/document_top.html")
	<tr>
	<td height="418">&nbsp;</td>
    <td valign="top">
		
		<table width="100%" border="0" cellpadding="0" cellspacing="0" align="center">
		<tr>
			<td height="40" colspan="3" class="art_border" style="padding-left:15px;">
				#set( $nav =$list.getNavBar(${msg.cateunid},"&nbsp;-&gt;&nbsp;"))
				<img src="../../images/ind_l_4.jpg" width="17" height="17" align="absmiddle" border="0" />
				当前位置：$!{nav}
			</td>
		</tr>
		  	<tr>
				<td height="15" colspan="3" valign="top"><!--DWLayoutEmptyCell-->&nbsp;</td>
			</tr>
		  	<tr>
				<td width="3" height="5"></td>
			  	<td width="27"></td>
			  	<td></td>
			</tr>
			<tr>
				<td height="356"></td>
			  	<td colspan="2" valign="top" align="center" class="art_cont_box_border" style="padding-top:10px;">

					<table width="98%" align="center" border="0" cellpadding="0" cellspacing="0">
					<tr>
						<td height="30" valign="top">
						
							<table width="100%" border="0" cellpadding="0" cellspacing="0" background="../../images/xxgk_rig_title_bg.jpg">
							<tr>
								<td width="43" height="30" align="center"><img src="../../images/action_paste.gif" width="16" height="16" /></td>
								<td align="left"><span class="bold" style="font-size:14px;">$!{msg.title}</span></td>
							</tr>
							</table>
							
						</td>
					</tr>
					<tr valign="top">
						<td height="224">
						
							<table width="100%" border="0" cellpadding="0" cellspacing="1" bgcolor="#c9d9e8">
							<COLGROUP>
								<COL width="15%">
								<COL width="35%">
								<COL width="15%">
								<COL width="35%">
							<tr>
								<td height="28" align="right" bgcolor="#ffffff"><span class="bold">索 引 号：</span></td>
								<td bgcolor="#ffffff" align="left">&nbsp;$!{msg.obtainnum}</td>
								<td height="28" align="right" bgcolor="#ffffff"><span class="bold">信息类别：</span></td>
								<td bgcolor="#ffffff" align="left">&nbsp;$!{msg.catename}</td>
							</tr>
							<tr>
								<td height="28" align="right" bgcolor="#ffffff"><span class="bold">发布机构:</span></td>
								<td bgcolor="#ffffff" align="left">&nbsp;$!{msg.dutydept}</td>
								<td height="28" align="right" bgcolor="#ffffff"><span class="bold">生成日期：</span></td>
								<td bgcolor="#ffffff" align="left">&nbsp;$!{msg.signdate}</td>
							</tr>
							<tr>
								<td height="28" align="right" bgcolor="#ffffff"><span class="bold">备注/文号：</span></td>
								<td bgcolor="#ffffff" align="left">&nbsp;$!{msg.filenumber}</td>
								<td height="28" align="right" bgcolor="#ffffff"><span class="bold">发布日期：</span></td>
								<td bgcolor="#ffffff" align="left">&nbsp;$!{msg.getPublishdate(10)}</td>
							</tr>
							<tr>
								<td height="28" align="right" bgcolor="#ffffff"><span class="bold">内容概述：</span></td>
								<td colspan="3" bgcolor="#ffffff" align="left">&nbsp;$!{msg.intro}</td>
							</tr>
							<tr>
								<td height="36" align="right" bgcolor="#ffffff"><span class="bold">附　　件：</span></td>
								<td align="left" colspan="3" bgcolor="#ffffff" style="line-height:150%;">
									<a href="#" target="_blank">$!{msg.title}</a>&nbsp;
									<br>
									<br>
									（<b>提示：</b>此文件为PDF格式，需下载安装 Adobe Reader 软件 方能查看。点击-&gt;<a href="#" target="_blank">下载地址</a>）
								</td>
							</tr>
							</table>
							
						</td>
					</tr>
					</table>
				
					<table width="100%" align="center" border="0" cellpadding="0" cellspacing="0">
					<tr>
						<td width="7" height="10">&nbsp;</td>
						<td align="center" class="art_title_box"><span class="art_title">${msg.title}</span></td>
						<td width="8">&nbsp;</td>
					</tr>
					<tr>
						<td height="10"></td>
						<td>&nbsp;</td>
						<td>&nbsp;</td>
					</tr>
					<tr>
						<td height="211">&nbsp;</td>
						<td valign="top" class="art_cont_border" align="left" style="padding:10px;line-height: 24px;font-size:14px"><FONT id=Zoom>${msg.content}</FONT></td>                          
						<td>&nbsp;</td>
					</tr>
					<tr>
						<td height="38">&nbsp;</td>
						<td valign="top">
							<table width="100%" border="0" cellpadding="0" cellspacing="0">
								<tr>
								  <td width="80" height="38" align="right"><a href="#"><img src="../../images/button_jc.gif" width="59" height="20" border="0" /></a></td>
									<td width="97" align="right"><a href="#"><img src="../../images/button_wz.gif" width="82" height="20" border="0" /></a></td>
									<td width="76" align="right">推荐给朋友</td>
									<td width="169" align="center"><input name="" value="您朋友的E-mail" size="20" onClick=""/>           </td>
									<td width="76"><input type="image" src="../../images/button_qd.gif" name=""/></td>
									<td width="448" align="right">
										【　<a href="javascript:doZoom(16);">大</a>　<a href="javascript:doZoom(14);">中</a>　<a href="javascript:doZoom(12);">小</a>　】
										【<a  href="">收藏</a>】
										【<a href="javascript:printPage();">打印</a>】
										【<a href="javascript:window.close();">关闭</a>】
									</td>
								</tr>
							</table>            
						</td>
						<td>&nbsp;</td>
					</tr>
					<tr>
						<td height="16"></td>
						<td></td>
						<td></td>
					</tr>						
						<!--============评论开始============-->
						<tr>
							<td height="38">&nbsp;</td>
							<td valign="top" align="center">
								<iframe scrolling="no" frameborder="0" valign="top" border="0" width="980" height="370" src="../../../../${cmsWebapp}/articleComment/articleComment.jsp?unid=${msg.unid}"></iframe>
							</td>
							<td>&nbsp;</td>
						</tr>
						<!--============评论结束============-->
				  </table>
			  	</td>
			</tr>
	  
		  
		</table>
	</td>
    
  </tr>
  <tr><td heigh=""></td></tr>
  <tr>
    <td height="180" colspan="2"  align="center">
	
#parse("www.fjfa.gov.cn/topAndButton/document_buttom.html")	</td>
    
  </tr>
</table>
</body>
</html>
