#*VM_BEGIN 设置当前[福安市政府网站]站点unid*#
#set($pagetitle ="福安市政府网站")  #*网站名称*#
#set($siteunid ="69538409AAC105BF5A861ADEDE772486")  #*站点的编号*#
#set($siteDomain = $list.getSiteDomain($siteunid) )  #*获取站点域名的方法（建议不修改）*#
#*VM_END*#

#*VM_BEGIN 取得tomcat路径*#
#set($tomcatroot = $list.getRootUrl() )  #*获取站点TOMCAT路径的方法（建议不修改）*#
#*VM_END*#

#*VM_BEGIN 取得HTML输出路径*#
#set($siteoutputpath = $list.getCmsOutputPath())  #*获取站点输出路径的方法（建议不修改）*#
#set($cmsWebapp ="cmsWebapp/fj/fjfa/jsp")  #*动态jsp页面相关路径*#
#*VM_END*#

#*VM_BEGIN 取得[二级页面连接]，用于index.html文件*#
#set($secondPageUrl="${tomcatroot}/${cmsWebapp}/views/list.jsp?cateunid=")  #*动态二级页面链接*#
#*VM_END*#

#*VM_BEGIN 取得[政府信息公开]，用于index.html文件*#
#set($zfxxgkgd="10C29BC961CD12E96BB0DBC25FF87F8A")  #*存放政府信息公开规定的栏目ID*#
#set($zfxxgkzn="D9F754E844C3BC8F03642AD4E31B2830")  #*存放政府信息公开指南的栏目ID*#
#set($zfxxgknb="721D177F6C73769ED973A4884F331D53")  #*存放政府信息公开目录的栏目ID*#
#*VM_END*#

