@import url("pageCommon.css");

/*UMC 修改密码页面样式 begin*/

/* 居中块 */
.midbox{
	padding-top:50px;
	margin: 0 auto 0 auto;
	width: 634px;
	
}

/* 标题 */
.title{
	background: url('images/changePassword_bg.jpg') no-repeat left center;
	width: 634px;
	height: 65px;
	line-height: 65px;
	text-align: center;
	color: #2a586f;
	font-weight: bold;
}

/* 信息行 */
.info_line{
	float: none;
	height: 50px;
	line-height: 50px;
}

/* 信息行左 */
.info_left{
	float:left;
	width:250px;
	text-align:right;
	
}

/* 信息行右 */
.info_right{
	float: left;
	height: 50px;
	line-height: 50px;
}

/* 信息输入框 */
.info_right input{
	float: left;
	height: 20px;
	line-height: 20px;
	width: 200px;
	margin-top: 10px;
}

/* 分隔线 */
.separator{
	text-align: center;
	height: 20px;
	line-height: 20px;
	color: #939393;
}

/* 按钮 */
.info_button{
	text-align: center;
	height: 50px;
	line-height: 50px;
}

.info_button input{

width:80px;
}


/* 星标 */
.star{
	color: #FF5050;
	margin-right:5px;
}

/* 提示信息 */
.tips{
	color: #808080;
	font: 12px 宋体;
	margin-left: 250px;
}


/* 页面留白 */
.blank {
	height: 8px;
	line-height: 8px;
	clear: both;
	visibility: hidden;
}

/*UMC 修改密码页面样式样式 end*/
