<common disable_ss="0" watchclipboard="1" disable_wc_inspeak="1" read_mode="4032" spk_wnd_mode="4047" spk_wnd_trace="1" align_type="4039" analyze_xml="0" check_update="1" sf_in_ie="0" mini_hide="0" />
<voice tts_voice="HKEY_LOCAL_MACHINE\SOFTWARE\Microsoft\Speech\Voices\Tokens\MS-Lili-2052-20-DSK" tts_volume="52" tts_rate="0" tts_output="10" />
<hotkey>
    <key cmd="4004" mf="0" vk="13" hotkey="0" />
    <key cmd="4005" mf="0" vk="27" hotkey="0" />
    <key cmd="4014" mf="2" vk="37" hotkey="0" />
    <key cmd="4015" mf="2" vk="39" hotkey="0" />
    <key cmd="4007" mf="1" vk="65" hotkey="0" />
    <key cmd="4002" mf="0" vk="112" hotkey="0" />
    <key cmd="4000" mf="1" vk="86" hotkey="0" />
    <key cmd="4010" mf="1" vk="77" hotkey="0" />
    <key cmd="4001" mf="3" vk="67" hotkey="1" />
    <key cmd="4027" mf="2" vk="70" hotkey="0" />
    <key cmd="4050" mf="2" vk="65" hotkey="0" />
    <key cmd="4026" mf="1" vk="81" hotkey="0" />
    <key cmd="4029" mf="1" vk="80" hotkey="0" />
    <key cmd="4003" mf="0" vk="96" hotkey="0" />
    <key cmd="4040" mf="1" vk="87" hotkey="0" />
</hotkey>
<plugins>
    <sf_spkwnd.dll />
    <sf_timer.dll />
    <sf_tpwth.dll />
</plugins>
